.App {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: none;
  height: auto;
  overflow-y: visible;
}

.import-box {
  position: relative;
  width: auto;
  background-color: var(--container-bg-color);
  color: var(--title-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: none;
  height: auto;
  overflow-y: visible;
  margin-top: 100px;
}

.App .import-box h2 {
  color: var(--title-text-color);
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.importer-div {
  justify-content: center;
  align-items: center;
}

.tabs {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.import-box button {
  font-family: "Hind Siliguri", sans-serif;
  flex: 1;
  padding: 10px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: medium;
  transition: background-color 0.2s ease;
}

.import-box button:hover {
  background-color: var(--button-hover-active-bg-color);
}

.import-box button.active {
  background-color: var(--button-hover-active-bg-color);
  color: var(--button-text-color);
  cursor: default;
}

@media (max-width: 768px) {
  .import-box {
      margin-top: 60px;
  }
}