p {
  margin-bottom: 15px;
  line-height: 1.5;
}

.import-component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b4c4d4;
  box-sizing: border-box;
}

.import-box {
  position: relative;
  width: auto; /* Increased width to accommodate both form and info */
  background-color: #5a6875;
  color: white;
  display: flex;
  flex-direction: row; /* Set to row to place form and info side by side */
  justify-content: space-between;
  align-items: flex-start;
  font-size: 18px;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 90vh;
  overflow-y: auto;
}

.import-form {
  display: flex;
  flex-direction: column; /* Ensure h3 and form are stacked vertically */
  width: 20%; /* Set width to fit alongside the info sections */
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.inputField {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
}

.submitButton {
  width: 50%;
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #004494;
}

.album-information {
  display: flex;
  flex-direction: column;
}

.album-data {
  display: flex;
  flex-direction: row;
}

.album-info {
  width: 100%; /* Set width to fit alongside the form */
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-align: center;
  border-radius: 5%;
  border: 1px solid rgba(168, 158, 158, 0.76);
  box-shadow: #5a6875;
  background-color: #28cf44b4;
}

.artist-information {
  display: flex;
  flex-direction: column;
}

.artist-data {
  display: flex;
  flex-direction: row;
}

.tracks-information {
  display: flex;
  flex-direction: column;
}

.tracks-data {
  display: flex;
  flex-direction: row;
}

.tracks-table {
  width: 100%; /* Set width to fit alongside the form */
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-align: center;
  border: 1px solid rgba(168, 158, 158, 0.76);
  box-shadow: #5a6875;
  background-color: #28cf44b4;
  border-collapse: collapse;
}

.tracks-table th, .tracks-table td {
  border: 1px solid rgba(0, 0, 0, 0.76); /* Adds borders to table cells */
  padding: 8px; /* Optional: add padding to cells */
}

.artist-info {
  width: 100%; /* Set width to fit alongside the form */
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-align: center;
  border-radius: 5%;
  border: 1px solid rgba(168, 158, 158, 0.76);
  box-shadow: #5a6875;
  background-color: #28cf44b4;
  padding: 10px;
}

.album-image, .artist-image {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 8px;
}

.import-data-button-container {
  margin-top: 10px;
}

.import-data-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.import-data-button:hover {
  background-color: #45a049;
}

.message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.message.success {
  color: green;
  background-color: #e0ffe0;
}

.message.error {
  color: red;
  background-color: #ffe0e0;
}