.album-page-container {
    max-width: 1000px;
    margin: 100px auto 50px auto;
    padding: 20px;
    background-color: var(--container-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.album-page-container .album-not-existing {
    color: var(--title-text-color);
}

.album-page-container .dynamic-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
    opacity: 0.2;
}

.album-page-container .album-info {
    display: flex;
    align-items: center;
}

.album-page-container .album-info .album-cover {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.album-page-container .album-info .album-details {
    display: flex;
    flex-direction: column;
}

.album-page-container .album-info .album-details .album-name {
    font-size: 25px;
    margin: 0;
    color: var(--container-h2-text-color);
}

.album-page-container .album-info .album-details .album-type {
    background-color: gray;
    border-radius: 10px;
    margin-left: 3px;
    padding: 7px 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.album-page-container .album-info .album-details .artist-name {
    font-size: 22px;
    margin: 0;
    font-weight: bold;
}

.album-page-container .album-info .album-details .artist-name a {
    color: var(--container-h3-text-color);
}

.album-page-container .album-info .album-details .release-date {
    font-size: 14px;
    margin: 4px 0;
    color: var(--info-text-color);
}

.album-page-container .tracks-section {
    margin-top: 20px;
}

.album-page-container .tracks-section h3 {
    color: var(--container-h3-text-color);
}

.album-page-container .tracks-section .track-list {
    list-style: none;
    padding: 0;
}

.album-page-container .tracks-section .track-list a {
    text-decoration: none;
    color: var(--link-text-color);
}

.album-page-container .tracks-section .track-list-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #8f8f8f;
    transition: background-color 0.2s ease;
}

.album-page-container .tracks-section .track-list-item:hover {
    background-color: var(--container-hover-color);
}

.album-page-container .tracks-section .track-list-item .track-number {
    padding: 5px;
    font-size: larger;
    color: var(--title-text-color);
}

.album-page-container .tracks-section .track-list-item .track-info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    line-height: 75%;
}

.album-page-container .tracks-section .track-list-item .track-info .track-title {
    line-height: 100%;
}

.album-page-container .tracks-section .track-list-item .track-duration {
    padding: 5px;
    margin-left: auto;
    font-size: medium;
    color: var(--info-text-color);
}

.album-page-container .more-albums-section .more-albums-header {
    color: var(--container-h2-text-color);
}

.album-page-container .more-albums-section .more-albums-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.album-page-container .more-albums-section .more-albums-list .more-album-item {
    width: 150px;
    text-align: center;
    word-break: break-word;
    padding: 1rem;
    transition: background-color 0.2s ease;
}

.album-page-container .more-albums-section .more-albums-list .more-album-item:hover {
    background-color: var(--container-hover-color);
}

.album-page-container .more-albums-section .more-album-cover {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.album-page-container .more-albums-section .more-albums-list a {
    text-decoration: none;
    color: var(--link-text-color);
}

.album-page-container .more-albums-section .more-albums-list a:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    .album-page-container {
        margin-top: 60px;
    }

    .album-page-container .album-info .album-cover {
        width: 125px;
        height: 125px;
    }

    .album-page-container .album-info .album-details .album-name {
        font-size: 20px;
    }

    .album-page-container .album-info .album-details {
        line-height: 30px;
    }

    .album-page-container .album-info .album-details .album-type {
        font-size: 10px;
    }
    
    .album-page-container .album-info .album-details .artist-name {
        font-size: 16px;
    }
    
    .album-page-container .album-info .album-details .release-date {
        font-size: 12px;
    }
    
    .album-page-container .tracks-section {
        margin-top: 20px;
    }
    
    .album-page-container .tracks-section .track-list {
        font-size: smaller;
    }
    
    .album-page-container .tracks-section .track-list-item .track-duration {
        font-size: small;
    }

    .album-page-container .more-albums-section .more-albums-header {
        font-size: large;
    }

    .album-page-container .more-albums-section .more-albums-list {
        font-size: smaller;
    }
    
    .album-page-container .more-albums-section .more-albums-list .more-album-item {
        width: 100px;
    }

    .album-page-container .more-albums-section .more-album-cover {
        width: 80%;
    }
}