.artist-page-container {
    max-width: 1000px;
    margin: 100px auto 50px auto;
    padding: 20px;
    background-color: var(--container-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.artist-page-container .artist-not-existing {
    color: var(--title-text-color);
}

.artist-page-container .dynamic-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
    opacity: 0.2;
}

.artist-page-container p {
    color: var(--container-text-color);
}

.artist-page-container .artist-info {
    display: flex;
    align-items: center;
    text-align: center;
}

.artist-page-container .artist-info .artist-picture {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    background-color: white;
}

.artist-page-container .artist-info .artist-details {
    text-align: left;
}

.artist-page-container .artist-info .artist-details .artist-name {
    font-size: 25px;
    margin: 0;
    color: var(--container-h2-text-color);
}

.artist-page-container .artist-info .artist-details .spotify-icon {
    margin-top: 5px;
    color: #1DB954;
    font-size: 20px;
}

.discography-section {
    width: auto;
}

.discography-section h2 {
    font-size: x-large;
    margin: 0;
    margin-top: 20px;
    color: var(--container-h2-text-color);
}

.toggle-header {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 15px;
    user-select: none;
    color: var(--container-h3-text-color);
}

.albums-section, .tracks-section {
    margin-top: 5px;
}

.artist-page-container .albums-section .album-filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.artist-page-container .albums-section .album-filters button {
    font-family: "Hind Siliguri", sans-serif;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%
}

.artist-page-container .albums-section .album-filters button:hover {
    background-color: var(--button-hover-active-bg-color);
}

.artist-page-container .albums-section .album-filters button.active {
    background-color: var(--button-hover-active-bg-color);
}

.artist-page-container .albums-section .album-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    justify-content: center;
    line-height: 1.5rem;
}

.artist-page-container .albums-section .album-list li {
    width: 150px;
    text-align: center;
    word-break: break-word;
    padding: 1rem;
    transition: background-color 0.2s ease;
    border-radius: 5px;
}

.artist-page-container .albums-section .album-list li:hover {
    background-color: var(--container-hover-color);
}

.artist-page-container .albums-section .album-list .album-cover {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.artist-page-container .albums-section .album-list a {
    text-decoration: none;
    color: var(--link-text-color);
}

.artist-page-container .albums-section .album-list a:hover {
    text-decoration: none;
}

.artist-page-container .tracks-section .track-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.artist-page-container .tracks-section .track-list a {
    text-decoration: none;
    color: var(--link-text-color);
}

.artist-page-container .tracks-section .track-list-div {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #3039463f;
    transition: background-color 0.2s ease;
    align-items: center;
}

.artist-page-container .tracks-section .track-list-div:hover {
    background-color: var(--container-hover-color);
}

.artist-page-container .tracks-section .track-list-div .track-album-cover {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.artist-page-container .tracks-section .track-list-div .track-list-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.artist-page-container .tracks-section .track-list-div .track-list-info small {
    color: var(--artist-text-color);
}

.artist-page-container .tracks-section .control-buttons {
    display: flex;
    justify-content: space-between;
}

.artist-page-container .tracks-section .control-buttons .free-div {
    width: 33.3%;
}

.artist-page-container .tracks-section .pagination-controls {
    display: flex;
    width: 33.3%;
    justify-content: center;
}

.artist-page-container .tracks-section .pagination-controls button {
    font-family: "Hind Siliguri", sans-serif;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.artist-page-container .tracks-section .pagination-controls button:hover:not(:disabled) {
    background-color: var(--button-hover-active-bg-color);
}

.artist-page-container .tracks-section .pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.artist-page-container .tracks-section .control-buttons .search-div {
    display: flex;
    width: 33.3%;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.artist-page-container .tracks-section .control-buttons .search-div .search-input {
    position: absolute;
    top: 50%;
    transform: translateY(0%) translateX(-65%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.artist-page-container .tracks-section .control-buttons .search-div.show-search .search-input {
    transform: translateY(-50%) translateX(-65%);
    opacity: 1;
    pointer-events: auto;
}

.artist-page-container .tracks-section .control-buttons .search-div .search-input input {
    font-family: "Hind Siliguri", sans-serif;
    padding: 10px;
    width: auto;
    max-width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    outline: none;
    transition: border 0.3s, width 0.3s ease-in-out;
}

.artist-page-container .tracks-section .control-buttons .search-div .search-input input:focus {
    border: 1px solid #3a8ad9;
}

.artist-page-container .tracks-section .control-buttons .search-div button {
    font-family: "Hind Siliguri", sans-serif;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 100;
}

.artist-page-container .tracks-section .control-buttons .search-div button:hover {
    background-color: var(--button-hover-active-bg-color);
}

.artist-page-container .related-artists-section {
    margin-top: 30px;
}

.artist-page-container .related-artists-section h3 {
    font-size: x-large;
    color: var(--container-h3-text-color);
}

.artist-page-container .related-artists-section .related-artist-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.artist-page-container .related-artists-section .related-artist-list a {
    text-decoration: none;
    color: var(--title-text-color);
    text-align: center;
}

.artist-page-container .related-artists-section .related-artist-list li {
    transition: background-color 0.2s ease;
    border-radius: 5px;
    padding: 1rem;
}

.artist-page-container .related-artists-section .related-artist-list li:hover {
    background-color: var(--container-hover-color);
}


.artist-page-container .related-artists-section .related-artist-list .related-artist-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    text-align: center;
}

.artist-page-container .related-artists-section .related-artist-list .related-artist-item span {
    color: var(--title-text-color);
}

.artist-page-container .related-artists-section .related-artist-list .related-artist-item .related-artist-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 0;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.artist-page-container .recent-activities-section h3 {
    font-size: x-large;
    color: var(--container-h3-text-color);
}

.artist-page-container .recent-activities-section .recent-activities-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.artist-page-container .recent-activities-section .recent-activities-list li {
    color: var(--title-text-color);
}

.artist-page-container .recent-activities-section .recent-activities-list .recent-activity-div {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #3039463f;
    align-items: center;
    transition: background-color 0.2s ease;
}

.artist-page-container .recent-activities-section .recent-activities-list .recent-activity-div:hover {
    background-color: var(--container-hover-color);
}

.artist-page-container .recent-activities-section .recent-activities-list .recent-activity-div .recent-activity-album-cover {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.artist-page-container .recent-activities-section .recent-activities-list .recent-activity-div .recent-activity-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    color: var(--title-text-color);
}

.artist-page-container .recent-activities-section .recent-activities-list .recent-activity-div .recent-activity-info small {
    color: var(--artist-text-color);
}

.artist-page-container .recent-activities-section .recent-activities-list .recent-activity-div .updated-at {
    font-size: 0.9em;
    color: var(--info-text-color);
    margin-left: 10px;
    text-align: right;
}

.artist-page-container .recent-activities-section .recent-activities-list .recent-activity-div .updated-at a {
    color: var(--info-text-color);
    text-decoration: none;
}

.artist-page-container .tracks-section .pagination-controls {
    display: flex;
    justify-content: center;
}


@media (max-width: 768px) {
    .artist-page-container {
        margin-top: 60px;
    }

    .artist-page-container .artist-info .artist-picture {
        width: 125px;
        height: 125px;
    }

    .artist-page-container .artist-info .artist-details .artist-name {
        font-size: 20px;
    }

    .artist-page-container .tracks-section .pagination-controls {
        justify-content: flex-end;
    }

    .toggle-header {
        font-size: 15px;
    }

    .artist-page-container .albums-section .album-list li {
        width: 100px;
    }

    .artist-page-container .albums-section .album-list .album-name {
        font-size: 14px;
        line-height: 0;
    }

    .artist-page-container .albums-section .album-list .album-details {
        font-size: 10px;
    }
    
    .artist-page-container .tracks-section .track-list-div {
        font-size: smaller;
    }
    
    .artist-page-container .tracks-section .track-list-div .track-list-info {
        margin-top: 5px;
        margin-left: 15px;
    }
    
    .artist-page-container .related-artists-section {
        margin-top: 30px;
    }
    
    .artist-page-container .related-artists-section .related-artist-list .related-artist-item {
        width: 100px;
        font-size: smaller;
    }
    
    .artist-page-container .related-artists-section .related-artist-list .related-artist-item .related-artist-picture {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin-bottom: 0;
        object-fit: cover;
    }

    .artist-page-container .recent-activities-section .recent-activities-list .recent-activity-div {
        font-size: small;
    }
}