.lyrics-page-container {
    max-width: 70%;
    margin: 100px auto 50px auto;
    padding: 20px;
    background-color: var(--container-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}

.lyrics-page-container .track-not-existing {
    color: var(--title-text-color);
}

.lyrics-page-container .dynamic-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
    opacity: 0.2;
}

.lyrics-page-container .album-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--lyric-page-container-bg-color);
    border-radius: 10px;
}

.lyrics-page-container .album-info .album-cover {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lyrics-page-container .album-info .album-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
}

.lyrics-page-container .album-info .album-details .track-name {
    font-size: 24px;
    margin: 0;
    color: var(--title-text-color);
    gap: 5px;
    line-height: 1.4em;
    max-height: 2.8em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

.lyrics-page-container .album-info .album-details .track-explicit {
    background-color: gray;
    border-radius: 5px;
    padding: 2px 6px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
}

.lyrics-page-container .album-info .album-details .artist-name {
    margin: 0;
    font-size: 21px;
    color: var(--artist-text-color);
    font-weight: bold;
    line-height: 1.4em;
    max-height: 2.8em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    transition: color 0.2s ease;
}

.lyrics-page-container .album-info .album-details .artist-name:hover {
    color: var(--link-hover-text-color);
}

.lyrics-page-container .album-info .album-details .album-name {
    font-size: 18px;
    margin: 0;
    color: var(--info-text-color);
    transition: color 0.2s ease;
}

.lyrics-page-container .album-info .album-details .album-name:hover {
    color: var(--link-hover-text-color);
}

.lyrics-page-container .font-size-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -40px;
    margin-bottom: -40px;
}

.lyrics-page-container .font-size-toggle h3 {
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
}

.lyrics-page-container .font-size-toggle button {
    font-family: "Hind Siliguri", sans-serif;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
}

.dark-theme .lyrics-page-container .font-size-toggle button {
    background-color: transparent;
    color: white;
}

.lyrics-page-container .font-size-toggle button:hover {
    background-color: #e0e0e0;
}

.dark-theme .lyrics-page-container .font-size-toggle button:hover {
    background-color: #dbdbdb;
    color: black;
}

.lyrics-page-container .font-size-toggle button.active {
    background-color: #e0e0e0;
}

.dark-theme .lyrics-page-container .font-size-toggle button.active {
    background-color: #dbdbdb;
    color: black;
}

.lyrics-section {
    position: relative;
    background-color: var(--lyric-page-container-bg-color);
    padding: 20px;
    border-radius: 10px;
    white-space: pre-wrap;
    font-size: 16px;
    line-height: 1.5;
    color: var(--container-text-color);
}

.lyrics-section .suggestions-overlay {
    position: absolute;
    background: var(--overlay-container-bg-color);
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    margin-top: -26.9rem;
    margin-left: -9.15rem;
    width: 9rem;
    max-height: 150px;
    overflow-y: auto;
    border-radius: 5px;
}

.lyrics-section .suggestions-overlay .suggestion-item {
    padding: 8px 10px;
    cursor: pointer;
}

.lyrics-section .suggestions-overlay .suggestion-item:hover {
    background: var(--hover-color);
}


.lyrics-page-container .spotify-embed-fixed {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 61%;
    height: 80px;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.lyrics-section .lyrics-header {
    font-size: 20px;
}

.lyrics-section .edit-lyrics-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.lyrics-section .edit-lyrics-button-container .edit-lyrics-button {
    font-family: "Hind Siliguri", sans-serif;
    background-color: var(--button-bg-color);
    border: none;
    color: var(--button-text-color);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.lyrics-section .edit-lyrics-button-container .edit-lyrics-button:hover {
    background-color: var(--button-hover-active-bg-color);
}

.lyrics-section .edit-lyrics-button-container .edit-lyrics-button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.dark-theme .lyrics-section .edit-lyrics-button-container .edit-lyrics-button:disabled {
    color: #222;
}

.lyrics-section .lyrics {
    font-size: 16px;
    margin: 0;
}

.lyrics-section .lyrics.small {
    font-size: 16px
}

.lyrics-section .lyrics.normal {
    font-size: 22px
}

.lyrics-section .lyrics.big {
    font-size: 28px
}

.lyrics-section .lyrics .lyrics-tag {
    color: #4d6d9a;
    font-weight: bold;
}

.lyrics-section .lyrics-textarea {
    width: 97%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Hind Siliguri", sans-serif;
    resize: vertical;
    min-height: 400px;
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
}

.lyrics-section .lyrics-textarea:focus {
    outline: 0.2px solid #4d6d9a;
}

.lyrics-section .lyrics-options {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-between;
}

.lyrics-section .lyrics-options .instrumental-label {
    display: flex;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}

.lyrics-section .lyrics-options .instrumental-label input[type="checkbox"] {
    display: none;
}

.lyrics-section .lyrics-options .instrumental-label .custom-checkbox {
    width: 18px;
    height: 18px;
    border: 2px solid var(--background-color);
    border-radius: 4px;
    position: relative;
    background-color: white;
    transition: background-color 0.3s, border-color 0.3s;
    margin-right: 8px;
}

.lyrics-section .lyrics-options .instrumental-label input[type="checkbox"]:checked+.custom-checkbox {
    background-color: var(--menu-bar-bg-color);
    border-color: var(--background-color);
}

.lyrics-section .lyrics-options .instrumental-label .custom-checkbox:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s;
}

.lyrics-section .lyrics-options .instrumental-label input[type="checkbox"]:checked+.custom-checkbox:before {
    opacity: 1;
}

.lyrics-section .lyrics-options .custom-checkbox:hover {
    background-color: rgba(76, 175, 80, 0.1);
    border-color: var(--background-color);
}

.lyrics-section .lyrics-options .more-options-lyrics-button,
.lyrics-section .lyrics-options .save-lyrics-button,
.lyrics-section .lyrics-options .cancel-lyrics-button {
    font-family: "Hind Siliguri", sans-serif;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.lyrics-section .lyrics-options .more-options-lyrics-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    margin-right: 8px;
}

.lyrics-section .lyrics-options .more-options-lyrics-button:hover {
    background-color: var(--button-hover-active-bg-color);
}

.lyrics-section .lyrics-options .options-overlay {
    font-family: "Hind Siliguri", sans-serif;
    color: white;
    position: absolute;
    top: 93.5%;
    right: 50;
    background-color: var(--overlay-container-bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-top: 6px;
    z-index: 100;
    min-width: 113px;
    padding: 8px 0;
}

.lyrics-section .lyrics-options .options-overlay ul {
    list-style: none;
    padding: 8px 12px;
    margin: 0;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease, color 0.2s ease;
    color: #f4ecff;
}

.lyrics-section .lyrics-options .options-overlay ul.disabled {
    cursor: not-allowed;
    color: gray;
}

.lyrics-section .lyrics-options .options-overlay ul.disabled:hover {
    background-color: inherit;
}

.lyrics-section .lyrics-options .options-overlay ul:hover {
    background-color: var(--lyric-page-verify-button-hover-color);
}

.lyrics-section .lyrics-options .options-overlay ul:nth-child(2) {
    color: #ffc2c2;
}

.lyrics-section .lyrics-options .options-overlay ul:nth-child(2):hover {
    background-color: #f9e0e0;
    color: red;
}

.lyrics-section .lyrics-options .save-lyrics-button {
    background-color: #4CAF50;
    color: white;
    margin-right: 8px;
}

.lyrics-section .lyrics-options .save-lyrics-button:hover {
    background-color: #45a049;
}

.lyrics-section .lyrics-options .save-lyrics-button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.lyrics-section .lyrics-options .save-lyrics-button:disabled:hover {
    background-color: black;
}

.lyrics-section .lyrics-options .cancel-lyrics-button {
    background-color: #f44336;
    color: white;
}

.lyrics-section .lyrics-options .cancel-lyrics-button:hover {
    background-color: #e31b0c;
}

.additional-info {
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
    color: var(--info-text-color);
    margin-top: 20px;
    background-color: var(--container-bg-color);
    border-radius: 8px;
    gap: 15px;
}

.additional-info .more-information {
    padding-left: 1rem;
    padding-right: 1rem;
}

.additional-info .more-information .info-header {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    color: var(--title-text-color);
}

.additional-info .more-information .info-header .edit-info-button-container {
    margin-left: auto;
}

.lyrics-page-container .edit-info-button {
    font-family: "Hind Siliguri", sans-serif;
    background-color: var(--button-bg-color);
    border: none;
    color: var(--button-text-color);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.additional-info .more-information .info-header .edit-info-button-container .edit-info-button:hover {
    background-color: var(--button-hover-active-bg-color);
}

.additional-info .more-information .info-table {
    margin-top: 10px;
    margin-left: 0;
    width: auto;
    font-size: 15px;
}

.additional-info .more-information .info-table .artists-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.additional-info .more-information .info-table .artist-container {
    background-color: var(--lyric-page-artist-div-bg-color);
    transition: background-color 0.2s ease;
    border-radius: 25px;
}

.additional-info .more-information .info-table .artist-container:hover {
    background-color: var(--lyric-page-artist-div-hover-bg-color);
}

.additional-info .more-information .info-table .artist-container .artist-div {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 0.5rem;
    text-decoration: none;
}

.additional-info .more-information .info-table .artist-container .artist-div .artist-small-picture {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.additional-info .more-information .info-table .artist-container .artist-div .artist-name {
    color: var(--title-text-color);
}

.additional-info .more-information .info-table tr .isrc-buttons {
    font-family: "Hind Siliguri", sans-serif;
    border: none;
    background: none;
    color: var(--info-text-color);
    cursor: pointer;
    padding: 0;
}

.additional-info .more-information .info-table tr .isrc-buttons:hover {
    text-decoration: underline;
}

.additional-info .more-information .info-table td {
    padding: 8px 0;
    vertical-align: top;
}

.additional-info .more-information .info-table td:first-child {
    font-weight: bold;
    color: var(--title-text-color);
    padding-right: 50px;
    white-space: nowrap;
    vertical-align: middle;
}

.additional-info .more-information .info-table td:last-child {
    text-align: left;
    color: var(--artist-text-color);
}

.additional-info .track-albums {
    margin-top: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.additional-info .track-albums .track-album-header {
    font-size: 20px;
    color: var(--title-text-color);
}

.additional-info .track-albums .albums {
    margin-top: 1rem;
}

.additional-info .track-albums .album-entry {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    background-color: var(--container-bg-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    transition: box-shadow 0.2s ease;
}

.additional-info .track-albums .album-entry:hover {
    border-color: #cde5ff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dark-theme .additional-info .track-albums .album-entry {
    border: none;
    border-bottom: 1px solid #343434;
}

.additional-info .track-albums .album-link {
    text-decoration: none;
    color: var(--title-text-color);
    display: flex;
    align-items: center;
}

.additional-info .track-albums .album-cover {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 10px;
}

.additional-info .track-albums .album-details {
    display: flex;
    flex-direction: column;
}

.additional-info .track-albums .album-name {
    font-weight: bold;
    margin: 0;
}

.additional-info .track-albums .track-number {
    color: var(--info-text-color);
    margin: 0;
    font-size: 0.9em;
}

.youtube-embed {
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
    color: var(--title-text-color);
    margin-top: 20px;
    background-color: var(--container-bg-color);
    border-radius: 8px;
}

.youtube-embed h3 {
    line-height: 0;
}

.youtube-embed .embed-div {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.youtube-embed .embed-div iframe {
    width: 100%;
    height: 57.5vh;
    aspect-ratio: 16/9;
    border-radius: 10px;
}

.youtube-embed .embed-div .no-video-existing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.youtube-embed .embed-div .no-video-existing .edit-info-button {
    margin-top: auto;
}

@media (max-width: 768px) {
    .lyrics-page-container {
        max-width: 800px;
        margin-top: 60px;
    }

    .lyrics-page-container .album-info .album-cover {
        width: 125px;
        height: 125px;
    }

    .lyrics-page-container .album-info .album-details .track-name {
        font-size: 16px;
    }

    .lyrics-page-container .album-info .album-details .track-explicit {
        font-size: 10px;
    }

    .lyrics-page-container .album-info .album-details .artist-name {
        font-size: 14px;
    }

    .lyrics-page-container .album-info .album-details .album-name {
        font-size: 12px;
    }

    .lyrics-page-container .font-size-toggle button {
        margin-right: 5px;
    }

    .lyrics-page-container .spotify-embed-fixed {
        width: 90%;
    }

    .lyrics-section .lyrics-header {
        font-size: 18px;
    }

    .lyrics-section .lyrics {
        font-size: 14px;
    }

    .lyrics-section .lyrics .lyrics-tag {
        color: #4d6d9a;
        font-weight: bold;
    }

    .lyrics-section .lyrics-options .instrumental-label {
        font-size: 14px;
    }

    .lyrics-section .lyrics-options .instrumental-label span {
        font-size: 13px;
    }

    .lyrics-section .lyrics-options .instrumental-label .custom-checkbox {
        width: 14px;
        height: 14px;
    }

    .lyrics-section .lyrics-options .more-options-lyrics-button,
    .lyrics-section .lyrics-options .save-lyrics-button,
    .lyrics-section .lyrics-options .cancel-lyrics-button {
        font-family: "Hind Siliguri", sans-serif;
        padding: 6px 12px;
        font-size: 12px;
    }

    .youtube-embed .embed-div iframe {
        height: 100%;
    }

    .additional-info {
        padding: 20px;
        font-size: 16px;
        line-height: 1.6;
        color: #333;
        margin-top: 20px;
        display: flex;
        gap: 0px;
    }

    .additional-info .more-information {
        width: auto;
        border-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .additional-info .more-information .info-header {
        font-size: 18px;
    }

    .additional-info .more-information .info-table {
        margin-top: 5px;
        width: auto;
    }

    .additional-info .more-information .info-table td {
        font-size: small;
    }

    .additional-info {
        flex-direction: column;
    }

    .additional-info .track-albums {
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .additional-info .track-albums .track-album-header {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .additional-info .track-albums .album-entry {
        margin-top: 10px;
        font-size: small;
    }

    .additional-info .track-albums .album-cover {
        width: 45px;
        height: 45px;
    }

    .additional-info .track-albums {
        margin-left: 0px;
    }
}