.user-page-container {
    max-width: 800px;
    margin: 100px auto 50px auto;
    padding: 20px;
    background-color: var(--container-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-page-container .user-info {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background: var(--user-page-container-bg-color);
}

.user-page-container .user-info .user-picture-container {
    position: relative;
    width: 120px;
    height: 120px;
}

.user-page-container .user-info .user-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid var(--overlay-container-plain-bg-color);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.user-page-container .user-info .edit-profile-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 16px;
    font-weight: bold;
    transition: opacity 0.3s ease;
    border-radius: 50%;
    border: 3px solid #fff;
}

.dark-theme .user-page-container .user-info .edit-profile-overlay {
    border: 3px solid #000;
}

.user-page-container .user-info .user-picture-container:hover .edit-profile-overlay {
    opacity: 1;
}

.user-page-container .user-info .user-details {
    text-align: left;
    flex-grow: 1;
    line-height: 1rem;
    margin-left: 30px;
}

.user-page-container .user-info .user-details .type {
    font-size: 16px;
    color: var(--info-text-color);
    margin: 0;
    margin-bottom: 5px;
    font-style: italic;
}

.user-page-container .user-info .user-details .legal-name {
    font-size: 24px;
    margin: 0;
    color: var(--title-text-color);
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-page-container .user-info .user-details .username {
    font-size: 16px;
    color: var(--artist-text-color);
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-page-container .user-info .user-details .points {
    font-size: 1rem;
    color: var(--info-text-color);
    margin: 0;
    margin-top: 5px;
}

.user-page-container .recent-contributions {
    background-color: var(--user-page-container-bg-color);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

.user-page-container .recent-contributions h1 {
    color: var(--container-h2-text-color);
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 0px;
}

.user-page-container .recent-contributions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-page-container .recent-contributions li {
    border-bottom: 1px solid #e0e0e0;
}

.user-page-container .recent-contributions .contribution-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.user-page-container .recent-contributions .contribution-item .album-cover {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 15px;
    object-fit: cover;
}

.user-page-container .recent-contributions .text-container {
    flex: 1;
}

.user-page-container .recent-contributions a {
    text-decoration: none;
    color: var(--title-text-color);
    flex: 1;
}

.user-page-container .recent-contributions .contribution-item {
    transition: background-color 0.2s ease;
    padding: 10px;
}

.user-page-container .recent-contributions .contribution-item:hover {
    background-color: var(--container-hover-color);
}

.user-page-container .recent-contributions .contribution-item .updated-at {
    font-size: 0.9em;
    color: var(--info-text-color);
    margin-left: 10px;
}

.user-page-container .pagination-controls {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.user-page-container .pagination-controls button {
    font-family: "Hind Siliguri", sans-serif;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.user-page-container .pagination-controls button:hover:not(:disabled) {
    background-color: var(--button-hover-active-bg-color);
}

.user-page-container .pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .user-page-container {
        margin-top: 60px;
    }

    .user-page-container .user-info {
        flex-direction: column;
        align-items: center;
    }

    .user-page-container .user-info .user-picture {
        margin-bottom: 15px;
        margin-right: 0px;
    }

    .user-page-container .user-info .user-details {
        text-align: center;
        margin-left: 0px;
        margin-top: 20px;
    }

    .user-page-container .recent-contributions {
        font-size: small;
    }
}
