.admin-tools-container {
    padding: 20px;
    max-width: 1000px;
    margin: 100px auto 50px auto;
    background-color: var(--container-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.admin-tools-container .admin-tools-title {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--container-h2-text-color);
}

.admin-tools-container .tool-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.admin-tools-container .tool-entry {
    background-color: var(--container-bg-color);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: var(--title-text-color);
    transition: box-shadow 0.2s ease;
}

.dark-theme .admin-tools-container .tool-entry {
    border-bottom: 1px solid #343434;
}

.admin-tools-container .tool-entry:hover {
    box-shadow: 0 4px 8px #00000026;
}

.dark-theme .admin-tools-container .tool-entry:hover {
    box-shadow: 0 4px 8px #ffffff26;
}

.admin-tools-container .tool-entry .tool-description {
    font-size: 14px;
    color: var(--info-text-color);
}

@media (max-width: 768px) {
    .admin-tools-container {
        margin-top: 60px;
    }
}