.menu-bar {
    background-color: #4d6d9a; /* Darker blue */
    padding: 15px;
    text-align: center;
    color: white;
    position: fixed; /* Fixes the menu bar at the top */
    top: 0;
    left: 0;
    width: 100%; /* Make the menu bar span the full width of the page */
    z-index: 1000; /* Ensures the menu bar stays on top of other elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
}

.menu-bar h1 {
    margin: 0;
    font-family: "Hind Siliguri", sans-serif;
    font-size: 24px;
}