.menu-bar {
    background-color: #4d6d9a;
    padding: 15px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-bar h1 {
    margin-left: 1rem;
    font-family: "Hind Siliguri", sans-serif;
    font-size: 24px;
    display: inline;
}

.menu-bar a {
    text-decoration: none;
    color: white;
}

.menu-bar .menu-links {
    position: absolute;
    right: 0;
    margin-right: 4rem;
    top: 50%;
    transform: translateY(-50%);
    gap: 50px;
}

.menu-bar .menu-links a {
    margin-left: 15px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-family: "Hind Siliguri", sans-serif;
}

.menu-bar .menu-links a:hover {
    text-decoration: underline;
}
