.menu-bar {
    display: flex;
    background: linear-gradient(135deg, var(--home-page-gradient-one-color) 0%, var(--home-page-gradient-two-color) 100%);
    color: var(--text-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 4.2rem;
}

.dark-theme .menu-bar {
    border-bottom: 1px solid #343434;
}

.menu-bar .menu-left-div {
    display: flex;
    width: 33.3%;
    font-family: "Hind Siliguri", sans-serif;
    font-size: 0.8rem;
    align-items: center;
}

.menu-bar .menu-left-div a {
    text-decoration: none;
    color: white;
}

.menu-bar .menu-left-div h1 {
    padding-left: 1.3rem;
}

.menu-bar .menu-center-div {
    display: block;
    width: 33.3%;
}

.menu-bar .menu-right-div {
    display: flex;
    width: 33.3%;
    justify-content: end;
    padding-right: 1.3rem;
    align-items: center;
    gap: 1.5rem;
}

.menu-bar .menu-right-div .search-button {
    display: none;
}

.menu-bar .menu-right-div .search-input-container .search-input {
    font-family: "Hind Siliguri", sans-serif;
    padding: 8px 12px;
    font-size: medium;
    border-radius: 4px;
    border: none;
    width: 20rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
}

.dark-theme .menu-bar .menu-right-div .search-input-container .search-input {
    border-bottom: 1px solid #ccc;
}

.menu-bar .menu-right-div .search-input-container .search-input::placeholder {
    color: var(--input-placeholder-text-color)
}

.menu-bar .menu-right-div .search-input-container .search-input:focus {
    outline: none;
}

.menu-bar .menu-right-div .search-input-container .close-button {
    display: none;
}

.menu-bar .menu-right-div .menu-links {
    font-size: larger;
}

.menu-bar .menu-right-div .menu-links .overlay-container {
    font-family: "Hind Siliguri", sans-serif;
    font-size: large;
    position: absolute;
    color: black;
    top: 3.5rem;
    right: 1rem;
    background-color: var(--overlay-container-bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 100;
    width: 12.5rem;
    padding: 10px;
}

.menu-bar .menu-right-div .menu-links .overlay-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-bar .menu-right-div .menu-links .overlay-container ul li {
    padding: 8px 12px;
    cursor: pointer;
    color: var(--text-color);
    transition: background-color 0.2s ease, color 0.2s ease;
}

.menu-bar .menu-right-div .menu-links .overlay-container ul li:hover {
    background-color: var(--hover-color);
    color: var(--hover-text-color);
    width: auto;
    border-radius: 5px;
}

.menu-bar .menu-right-div .menu-links .overlay-container .profile-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    justify-content: center;
    text-align: center;
}

.menu-bar .menu-right-div .menu-links .overlay-container .profile-link img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dark-theme .menu-bar .menu-right-div .menu-links .overlay-container .profile-link img {
    background-color: transparent;
}

.menu-bar .menu-right-div .not-logged-in-links {
    display: flex;
    gap: 1rem;
}

.menu-bar .menu-right-div .not-logged-in-links link {
    width: auto;
}

.menu-bar .search-overlay {
    position: absolute;
    top: 60px;
    right: 4rem;
    background-color: var(--overlay-container-plain-bg-color);
    width: 25rem;
    max-height: 30rem;
    overflow-y: auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.menu-bar .search-overlay .overlay-content {
    padding: 10px;
}

.menu-bar .search-overlay .overlay-content .filter-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.menu-bar .search-overlay .overlay-content .filter-buttons button {
    font-family: "Hind Siliguri", sans-serif;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-bar .search-overlay .overlay-content .filter-buttons button:hover {
    background-color: var(--button-hover-active-bg-color);
}

.menu-bar .search-overlay .overlay-content .filter-buttons button.active {
    background-color: var(--button-hover-active-bg-color);
}

.menu-bar .search-overlay .overlay-content .no-results {
    color: var(--container-text-color);
    text-align: center;
}

.menu-bar .search-overlay .overlay-content .category-container {
    margin-bottom: 10px;
}

.menu-bar .search-overlay .overlay-content .category-container .search-results-title {
    font-size: 14px;
    color: var(--title-text-color);
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    text-align: center;
}

.menu-bar .search-overlay .overlay-content .category-container .search-results-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-bar .search-overlay .overlay-content .category-container .search-results-list .search-result-item {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.menu-bar .search-overlay .overlay-content .category-container .search-results-list .search-result-item a {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 12px;
}

.menu-bar .search-overlay .overlay-content .category-container .search-results-list .search-result-item:hover {
    background-color: var(--hover-color);
}

.menu-bar .search-overlay .overlay-content .category-container .search-results-list .search-result-item .search-item-picture {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    flex-shrink: 0;
    background-color: white;
}

.menu-bar .search-overlay .overlay-content .category-container .search-results-list .search-result-item .search-item-name {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
    min-width: 0;
}

.menu-bar .search-overlay .overlay-content .category-container .search-results-list .search-result-item .search-item-name span:first-child {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-bar .search-overlay .overlay-content .category-container .search-results-list .search-result-item .search-item-name span:last-child {
    color: var(--artist-text-color);
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .menu-bar .menu-left-div {
        width: 50%;
    }

    .menu-bar .menu-center-div {
        display: none;
    }

    .menu-bar .menu-right-div {
        width: 50%;
    }

    .menu-bar .menu-right-div .search-button {
        display: block;
        background-color: transparent;
        color: white;
        border: none;
        font-size: larger;
    }

    .menu-bar .menu-right-div .search-input-container .search-input {
        width: 18rem;
    }

    .menu-bar .menu-right-div .search-input-container .close-button {
        display: block;
        position: absolute;
        top: 0;
        right: 2rem;
        transform: translateY(90%);
        background: transparent;
        border: none;
        color: black;
        font-size: 20px;
        z-index: 1000;
    }

    .dark-theme .menu-bar .menu-right-div .search-input-container .close-button {
        color: white;
    }

    .menu-bar .search-overlay {
        font-size: small;
        right: 1rem;
        width: 23.6rem;
    }

    .menu-bar .search-overlay .overlay-content .filter-buttons button {
        font-size: inherit;
    }

    .menu-bar .search-overlay .overlay-content .category-container .search-results-list .search-result-item .search-item-name {
        font-size: inherit;
    }
}