.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
    visibility: hidden;
}

.modal-overlay.show {
    opacity: 1;
    visibility: visible;
}

.modal-overlay.show .modal-content {
    font-size: large;
    color: var(--modal-text-color);
    background: var(--modal-bg-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: translateY(-30px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    width: 20rem;
    transform: translateY(0);
    opacity: 1;
}

.modal-overlay.show .modal-content .modal-actions {
    margin-top: 20px;
}

.modal-overlay.show .modal-content .modal-actions button {
    font-family: "Hind Siliguri", sans-serif;
    padding: 10px 15px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-overlay.show .modal-content .modal-actions button:hover {
    background-color: var(--button-hover-active-bg-color);
}

.modal-overlay.show .modal-content .modal-actions button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}
